@import "variables/global";
@import "reset";
@import "themes/dark";
@import "themes/light";
@import "themes/green_gray";

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

body {
    color: var(--main-color);
    font: var(--font-m);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
}
