@import "variables/global";
@import "reset";
@import "themes/dark";
@import "themes/light";

.app {

  font: var(--font-m);
  background: var(--bg-color);
  color: var(--main-color);

  min-height: 100vh;
}

.content-page {
    display: flex;
}
.page-wrapper {
  flex-grow: 1;
}