@import "variables/global";
@import "reset";
@import "themes/dark";
@import "themes/light";
@import "themes/green_gray";

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    color: var(--text-redesigned);
    font: var(--font-m-redesigned);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
