.Skeleton {
    animation: gradient 2.25s ease infinite;
    background: linear-gradient(-45deg, #ddd, #f0f0f0, #d5d5d5, #f0f0f0);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
