.button {
    color: var(--main-color);
    cursor: pointer;
    padding: 10px 15px;
}

.clear,
.clearInverted {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.clearInverted {
    color: var(--secondary-color);
}

.outline {
    background: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.background {
    background: var(--bg-color);
    border: none;
    color: var(--main-color);
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    border: none;
    color: var(--main-color);
}

.square {
    padding: 0;
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
}

.square.size_xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}

.disabled {
    opacity: 0.5;
}