.button {
    color: var(--main-color);
    cursor: pointer;
}

.clear {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.outline {
    background: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 15px;
}
