.sidebar {
    background: var(--inverted-bg-color);
    height: calc(100vh - var(--navbar-height));
    position: relative;
    transition: width 120ms;
    width: var(--sidebar-width);
}

.switchers {
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.lang {
    color: green;
    margin-left: 20px;
}

.collapsedBtn {
    bottom: 32px;
    position: absolute;
    right: -32px;
}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        align-items: center;
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }
}
