.app_dark_theme {
    // Бэкграунд
    --bg-color: #27c4b3;
    --inverted-bg-color: #c4ad9d;

    // Шрифты
    --main-color: #8b1294;
    --secondary-color: #e0f;

    // code
    --code-bg: #68f5e4;

    // card
    --card-bg: #63f3e2;

    // listbox
    --listbox-bg: #63f3e2;
}
