.app_green_gray_theme {
    // Бэкграунд
    --bg-color: #7b2aff;
    --inverted-bg-color: #f7f4fb;

    // Шрифты
    --main-color: #f7f4fb;
    --secondary-color: #7b2aff;

    // code
    --code-bg: #8c46ff;
}
