.app_green_gray_theme {
    // Бэкграунд
    --bg-color: #7b2aff;
    --inverted-bg-color: #f7f4fb;

    // Шрифты
    --main-color: #f7f4fb;
    --secondary-color: #7b2aff;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // code
    --code-bg: #8c46ff;

    // card
    --card-bg: #9855ff;

    // listbox
    --listbox-bg: #9855ff;
}
