:root {
    // Бэкграунд
    --bg-color: #c4ad9d;
    --inverted-bg-color: #27c4b3;

    // Шрифты
    --main-color: #2f2c2c;
    --secondary-color: #9d1818;

    // code
    --code-bg: #eed3c1;
}
