.Navbar {
    align-items: center;
    background: var(--inverted-bg-color);
    display: flex;
    height: var(--navbar-height);
    padding: 20px;
    width: 100%;
}

.NavbarRedesigned {
    width: 100%;
}

.links,
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    margin-left: 15px;
    width: var(--sidebar-width);
}
