.button {
    color: var(--text-redesigned);
    cursor: pointer;
    padding: 10px 15px;

    &:hover {
        color: var(--accent-redesigned);
    }
}

.clear {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.square {
    padding: 0;
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
}

.square.size_xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}

.size_m {
    font: var(--font-m-redesigned);
}

.size_l {
    font: var(--font-l-redesigned);
}

.size_xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.fullwidth {
    width: 100%;
}
