.CommentCard {
    border: 1px solid var(--main-color);
    padding: 10px;
}

.header {
    align-items: center;
    display: flex;
}

.text {
    margin-top: 10px;
}

.username {
    margin-left: 15px;
}

.loading {
    border: none;
}
